body {
  margin: 0;
}

/* profile container */
#profile-container {
  position: fixed;
  background-color: #001630;
  width: 250px;
  height: 100vh;
  color: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-img img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

#profile-item {
  opacity: 80%;
}

/* about container */
#about-container {
  display: flex;
  flex-direction: column;
  margin-left: 360px;
  min-height: 100vh;
  justify-content: center;
}

#about-container h1 {
  font-size: 60px;
  margin-bottom: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#about-container h1 span {
  color: #001630;
}

#about-summary {
  opacity: 70%;
}

#about-item {
  font-size: 16px;
  margin-top: 28px;
}

#about-item-link-image {
  display: flex;
  width: 300px;
}

#about-item-link-image a {
  margin: 32px 24px 0 0;
  opacity: 50%;
}

#about-item-link-image a img {
  width: 44px;
  height: 44px;
}

/* top five container */
#top-five-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 250px;
  min-height: 100vh;
}

#top-five-title {
  margin-left: 110px;
  margin-bottom: 44px;
  font-size: 60px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#top-five-title span {
  color: #001630;
}

#top-five-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
}

#top-five-item img {
  width: 14vw;
  height: 20vw;
}

#top-five-item div {
  font-size: 18px;
  font-weight: 600;
}

/* guest */
#guest-container {
  display: flex;
  flex-direction: column;
  margin-left: 360px;
  min-height: 100vh;
  justify-content: center;
}

#guest-title {
  margin-bottom: 44px;
  font-size: 60px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#guest-title span {
  color: #001630;
}

#guest-item-input {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
}

#guest-item-input input {
  width: 240px;
  height: 24px;
  border: solid 2px;
  border-radius: 5px;
}

#guest-item-container div {
  margin-top: 12px;
}

#guest-item-container div input[type='checkbox'] {
  display: none;
}

#guest-item-container div input[type='checkbox'] + label {
  cursor: pointer;
}

#guest-item-container div input[type='checkbox'] + label > span {
  vertical-align: bottom;
  font-size: 18px;
  margin-left: 8px;
}

#guest-item-container div input[type='checkbox'] + label:before {
  margin-top: 12px;
  margin-left: 12px;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #001630;
  border-radius: 4px;
  vertical-align: middle;
}

#guest-item-container div input[type='checkbox']:checked + label:before {
  background-color: #001630;
  border-color: #001630;
}

#guest-item-container button {
  width: 80px;
  height: 32px;
  margin-top: 32px;
  margin-left: 12px;
  font-size: 16px;
  background-color: #001630;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

#guest-item-container button:active {
  box-shadow: inset 2px 2px 8px white;
}

#guest-reply-item {
  margin-top: 28px;
  border-top: 1px solid #001630;
  width: 320px;
}
