body {
  margin: 0;
}

/* profile container */
#profile-container {
  position: fixed;
  background-color: #001630;
  width: 250px;
  height: 100vh;
  color: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-img img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

#profile-item {
  opacity: 80%;
}

/* about container */
#about-container {
  display: flex;
  flex-direction: column;
  margin-left: 360px;
  min-height: 100vh;
  justify-content: center;
}

#about-container h1 {
  font-size: 60px;
  margin-bottom: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#about-container h1 span {
  color: #001630;
}

#about-item {
  font-size: 16px;
  margin-top: 28px;
}

#about-item-link-image {
  display: flex;
  width: 300px;
}

#about-item-link-image a {
  margin: 32px 24px 0 0;
  opacity: 50%;
}

#about-item-link-image a img {
  width: 44px;
  height: 44px;
}

/* top five container */
#top-five-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 250px;
  min-height: 100vh;
}

#top-five-title {
  margin-left: 110px;
  margin-bottom: 44px;
  font-size: 60px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#top-five-title span {
  color: #001630;
}

#top-five-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
}

#top-five-item img {
  width: 260px;
  height: 380px;
}

#top-five-item div {
  font-size: 18px;
  font-weight: 600;
}
